<div class="l-popup">
    <div class="b-popup">
        <div class="b-popup__content">{{content}}</div>
        <div class="b-popup__footer">
            <button class="b-button"
                    (click)="onSubmit()">{{confirmText}}</button>
            <button class="b-button"
                    (click)="onCancel()">{{cancelText}}</button>
        </div>
    </div>
</div>
