<div class="l-form">
    <form class="b-form"
          #authForm="ngForm"
          (ngSubmit)="onSubmit(authForm)"
          *ngIf="!isLoading">
        <div class="b-form__item">
            <label class="b-label"
                   for="email"
                   i18n="@@auth_form_email_title">Email</label>
            <input class="b-textField"
                   id="email"
                   type="email"
                   ngModel
                   name="email"
                   #email="ngModel"
                   required
                   email/>
            <ul class="b-messageList" *ngIf="email.invalid && (email.dirty || email.touched)">
                <li class="b-messageList__item -type_error"
                    *ngIf="email.errors?.required"
                    i18n="@@auth_form_email_required_message">Email is required
                </li>
                <li class="b-messageList__item -type_error"
                    *ngIf="email.errors?.email"
                    i18n="@@auth_form_email_invalid_message">Email is invalid
                </li>
            </ul>
        </div>
        <div class="b-form__item">
            <label class="b-label"
                   for="password"
                   i18n="@@auth_form_password_title">Password</label>
            <input type="password"
                   class="b-textField"
                   id="password"
                   ngModel
                   name="password"
                   #password="ngModel"
                   required
                   minlength="6"/>
            <ul class="b-messageList" *ngIf="password.invalid && (password.dirty || password.touched)">
                <li class="b-messageList__item -type_error"
                    *ngIf="password.errors?.required"
                    i18n="@@auth_form_password_required_message">Password is required
                </li>
                <li class="b-messageList__item -type_error"
                    *ngIf="password.errors?.minlength"
                    i18n="@@auth_form_password_invalid_message">Password is invalid
                </li>
            </ul>
        </div>
        <p class="b-message -type_error" v-if="serverError">{{error}}</p>
        <div class="b-form__item -type_buttons">
            <button class="b-button -type_green"
                    type="submit"
                    [disabled]="!authForm.valid">
                <span *ngIf="isLoginMode" i18n="@@auth_form_password_login_button">Login</span>
                <span *ngIf="!isLoginMode" i18n="@@auth_form_password_signup_button">Sign Up</span>
            </button>
            <button class="b-button"
                    type="button"
                    (click)="onSwitchMode(authForm)">
                <ng-container i18n="@@auth_form_password_switch_button">Switch to</ng-container>&nbsp;<span
                    *ngIf="isLoginMode" i18n="@@auth_form_password_signup_switch_button">Sign Up</span><span
                    *ngIf="!isLoginMode" i18n="@@auth_form_password_login_switch_button">Login</span>
            </button>
        </div>
    </form>
    <app-loading *ngIf="isLoading"></app-loading>
</div>

