<header class="l-header">
    <div class="b-header">
        <div class="b-header__item -type_left">
            <app-navigation [isAuthenticated]="isAuthenticated"></app-navigation>
        </div>
        <div class="b-header__item -type_right">
            <app-navigation-buttons [isAuthenticated]="isAuthenticated"></app-navigation-buttons>
            <app-locale-switch></app-locale-switch>
        </div>
    </div>
</header>


