<li class="b-dishesList__item" *ngIf="item" appToggle>
    <div class="b-dishesList__title">{{item.name}}</div>
    <div class="b-dishesList__content">
        <div class="b-dishesList__contentData"
             (click)="goToDetailsPage(item.id)"
             appHighlight [highlightColor]="'gray'">
            <div class="b-dishesList__recipe">{{item.recipe}}</div>
        </div>
    </div>
</li>
