<div class="l-dishesList">
    <ul class="b-dishesList">
        <app-dish-item *ngFor="let dishItem of list; index as i;"
                       [item]="dishItem"></app-dish-item>
    </ul>
    <div *ngIf="!list.length">
        <ng-container i18n="@@no_dishes_text">There are no dishes. Please add dish</ng-container>&nbsp;-simpl<a
            routerLink="dishes/add"
            i18n="@@no_dishes_link">here</a>.
    </div>
</div>

