<div class="b-dishDetails">
    <div class="b-dishDetails__name">{{item?.name}}</div>
    <div class="b-dishDetails__recipe">{{item?.recipe}}</div>
    <div class="b-dishDetails__buttons">
        <button class="b-button"
                (click)="editDish()"
                i18n="@@details_edit_button">Edit
        </button>
        <button class="b-button"
                (click)="deleteDishItem()"
                i18n="@@details_delete_button">Delete
        </button>
    </div>
    <ng-template appPlaceholder></ng-template>
</div>

