<ul class="b-localeSwitch ">
    <li class="b-localeSwitch__item -state_active" *ngFor="let localeItem of localesList">
        <a class="b-localeSwitch__link" [href]="localeItem.link">{{localeItem.label}}</a>
    </li>
</ul>
