<div class="l-page -type_dishesList">
    <div class="l-buttons">
        <a class="b-button -type_green -state_disabled"
           routerLink="/dishes/add"
           i18n="@@add_dish_button_text">Add dish</a>
    </div>
    <app-dishes-list [list]="(dishesList | async) || []"></app-dishes-list>
</div>
