<div class="l-form">
    <form class="b-form"
          [formGroup]="editForm"
          (ngSubmit)="onSubmit()">
        <div class="b-form__item">
            <label class="b-label"
                   for="name"
                   i18n="@@edit_form_title_title">Title</label>
            <input type="text"
                   class="b-textField"
                   id="name"
                   formControlName="name">
            <p class="b-message -type_error"
               *ngIf="!editForm.get('name')?.valid && editForm.get('name')?.touched"
               i18n="@@edit_form_title_required_message">Title is required</p>
        </div>
        <div class="b-form__item">
            <label class="b-label"
                   for="recipe"
                   i18n="@@edit_form_recipe_title">Recipe</label>
            <textarea rows="3"
                      class="b-textField -type_textArea"
                      name="recipe"
                      id="recipe"
                      formControlName="recipe"></textarea>
            <p class="b-message -type_error"
               *ngIf="!editForm.get('recipe')?.valid && editForm.get('recipe')?.touched"
               i18n="@@edit_form_recipe_required_message">Recipe is required</p>
        </div>
        <div class="b-form__item -type_buttons">
            <button class="b-button -type_green"
                    type="submit"
                    [disabled]="!editForm.valid"
                    i18n="@@edit_form_edit_button">Edit
            </button>
        </div>
    </form>
</div>
