/* buttons */

.b-button {
  display: inline-block;
  min-width: 70px;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  box-sizing: border-box;
  border: 2px solid $main-bg-button;
  border-radius: 3px;
  outline: 0;
  background-color: $main-bg-button;
  color: $main-color;
  transition: all 0.5s ease;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;

  &:hover, &:active, &:focus {
    &:not([disabled]) {
      background-color: $main-bg-button-hover;
      outline: 0;
    }
  }

  &:disabled {
    color: $third-color;
    cursor: default;
  }

  &.-type {

    &_green {
      border-color: $second-bg-button;
      background-color: $second-bg-button;
      color: $fourth-color;

      &:hover, &:active, &:focus {
        &:not([disabled]) {
          border-color: $second-bg-button;
          color: $main-color;
        }
      }

      &:disabled {
        color: $fifth-color;
      }
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

