/* text field. */

.b-textField {
  display: block;
  width: 100%;
  padding: 7px 10px;
  box-sizing: border-box;
  border: 1px solid $field-border-color;
  border-radius: 3px;
  outline: 0;
  transition: all 0.5s ease;

  &:focus, &:active, &:hover {
    border-color: $field-border-color-hover;
    outline: 0;
  }

  &.-type {

    &_textArea {
      min-height: 200px;
    }
  }
}

