<div class="l-page -type_detailsDish">
    <app-dish-details [item]="dishItem | async"
                      [id]="id"
                      (deleteItem)="deleteDishItem($event)"></app-dish-details>
    <router-outlet></router-outlet>
</div>





