/* variables */

/* width and height */
$min-width: 640px;
$popup-width: 250px;

/* colors */
$black-1: #000;
$white-1: #fff;
$gray-1: #ccc;
$gray-2: #e7e7e7;
$gray-3: #f5f5f5;
$gray-4: rgba(27, 23, 23, 0.27);
$gray-5: #fbfbfb;
$red-1: #da3c3c;
$green-1: #46a049;
$green-2: #a1cea9;
// colors
$main-color: $black-1;
$second-color: $green-1;
$third-color: $gray-1;
$fourth-color: $white-1;
$fifth-color: $green-2;
// bg colors
$main-bg-color: $white-1;
$second-bg-color: $gray-5;
$third-bg-color: $gray-4;
$fourth-bg-color: $green-2;
// border colors
$main-border-color: $gray-1;
$second-border-color: $gray-3;
// button colors
$main-bg-button: $gray-2;
$main-bg-button-hover: $white-1;
$second-bg-button: $green-1;
// field colors
$field-border-color: $gray-1;
$field-border-color-hover: $green-1;
// message colors
$error-color: $red-1;
$success-color: $green-1;

/* fonts */
$font-open-sans: 'Open Sans', sans-serif;
