/* global styles */
@import 'common/variables.scss';
@import 'common/reset.scss';
@import 'common/commonStyles.scss';

.l-html, l-body {
  background: $main-bg-color;
  min-width: $min-width;
  min-height: 100vh;
  font: 400 14px/1.3 $font-open-sans;
}

//blocks
@import 'blocks/page.scss';
@import 'blocks/header.scss';
@import 'blocks/navigation.scss';
@import 'blocks/navigationButtons';
@import 'blocks/content.scss';
@import 'blocks/buttons.scss';
@import 'blocks/popup';
@import 'blocks/dishesList.scss';
@import 'blocks/dishDetails.scss';
@import 'blocks/form.scss';
@import 'blocks/messageList.scss';
@import 'blocks/localeSwitch';

// elements
@import 'elements/button.scss';
@import 'elements/label.scss';
@import 'elements/textField.scss';
@import 'elements/message.scss';
@import 'elements/loading.scss';
