/* dishes list */

.b-dishesList {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    padding: 15px;
    margin: 0 0 10px;
    border: 1px solid $main-border-color;
    border-radius: 3px;
    background: $second-bg-color;
    cursor: pointer;

    &.-state_opened {
      cursor: default;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 600;

    .-state_opened & {
      margin: 0 0 10px;
      cursor: pointer;
    }
  }

  &__content {
    display: none;

    .-state_opened & {
      display: block;
    }

    &Data {
      margin: 0 0 10px;
      transition: all 0.5s ease;
      line-height: 1.5;
      cursor: pointer;
    }
  }
}


