/* dish details */

.b-dishDetails {
  &__name, &__recipe {
    margin: 0 0 10px;
  }

  &__name {
    font-weight: 600;
    font-size: 16px
  }

  &__recipe {
  }

  &__buttons {
    margin: 0 0 20px;
  }
}



