/* form */

.l-form {
  height: 100%;
  max-width: 500px;

  .l-page.-type_auth & {
    max-width: initial;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.b-form {

  &__item {
    margin: 0 0 15px;

    &.-type {

      &_buttons {
      }
    }
  }
}



