/* header */

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.b-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid $second-border-color;
  background: $second-bg-color;

  &__item {
    display: flex;
    align-items: center;

    &-type {

      &_right {
        justify-content: flex-end;
      }

      &_left {
      }
    }
  }
}


