/* locale switch */

.b-localeSwitch {
  display: flex;
  align-items: center;
  padding: 0 0 0 15px;

  &__item {
    min-width: 32px;
    box-sizing: border-box;
    padding: 5px;
    margin: 0 4px 0 0;
    border: 1px solid $main-border-color;
    border-radius: 3px;
    transition: all 0.5s ease;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &:not(.-state_active) {
      &:hover {
        background-color: $fourth-bg-color;
      }
    }

    &.-state {

      &_active {
        color: $second-color;
        cursor: default;
      }
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }
}


