/* message list */

.b-messageList {

  &__item {
    margin: 5px 0;
    color: $main-color;
    font-weight: 600;

    &.-type {

      &_error {
        color: $error-color;
      }

      &_success {
        color: $success-color;
      }
    }
  }
}


