/* navigation */

.b-navigation {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  &__item {
    display: block;
  }

  &__link {
    padding: 10px;
    color: inherit;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

    .-state_active & {
      color: $second-color;
    }

    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }
}


