/* page */

.l-page {
  height: 100%;

  &.-type {

    &_home {
    }

    &_404 {
    }

    &_auth {
    }

    &_dishesList {
    }

    &_addDish {
    }

    &_detailsDish {
    }

    &_editDish {
    }
  }
}


