/* popup */

.l-popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $third-bg-color;
  z-index: 100;
}

.b-popup {
  min-width: $popup-width;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid $main-border-color;
  border-radius: 3px;
  background: $second-bg-color;

  &__content {
    margin: 0 0 15px;
    font-weight: 600;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



