<ul class="b-navigation">
    <li class="b-navigation__item"
        routerLinkActive="-state_active"
        [routerLinkActiveOptions]="{ exact: true }">
        <a class="b-navigation__link"
           routerLink="/"
           i18n="@@navigation_link_home">Home</a>
    </li>
    <li class="b-navigation__item"
        routerLinkActive="-state_active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="isAuthenticated">
        <a class="b-navigation__link"
           routerLink="/dishes"
           i18n="@@navigation_link_dishes">Dishes</a>
    </li>
    <li class="b-navigation__item"
        routerLinkActive="-state_active"
        *ngIf="!isAuthenticated">
        <a class="b-navigation__link"
           routerLink="/auth"
           i18n="@@navigation_link_auth">Authentication</a>
    </li>
</ul>
